.todo{
  height: 100vh;
  width: 100%;
  background-color: rgba(242, 242, 242, 0.807);
  display: flex;
  align-items: center;
  justify-content: center;
}
.list{
  background-color: white;
  padding: 20px;
  width:600px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.form{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.form input{
  width: 400px;
  height: 50px;
  outline: none;
  border-radius: 9px;
  font-size: 18px;
}
.form button{
  width:100px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 9px;
  font-size: 18px;
  font-weight: bold;
}

.todoItems{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 20px;
  margin-top: 10px;
  width:530px;
  height: 60px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.todoItems .delete{
  font-size: 22px;
}

.todoItems .checkbox{
  height: 80px;
}
.todoItems p{
  font-size: 18px;
  font-weight: 500;
  font-family: fantasy;
}